<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.l.EdukaTIC">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EdukaTIC 2019"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.l.EdukaTIC.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.l.EdukaTIC.Menu" />
        <activity android:name="com.example.l.EdukaTIC.validarUsuarios" />
        <activity android:name="com.example.l.EdukaTIC.consultaCC" />
        <activity android:name="com.example.l.EdukaTIC.ResutadoConsultaCC" />
        <activity android:name="com.example.l.EdukaTIC.consultaQR" />
        <activity android:name="com.example.l.EdukaTIC.ResultadoConsultaQR" />
        <activity android:name="com.example.l.EdukaTIC.dia1" />
        <activity android:name="com.example.l.EdukaTIC.d1ValCC" />
        <activity android:name="com.example.l.EdukaTIC.d1Menu" />
        <activity android:name="com.example.l.EdukaTIC.d1Resultado" />
        <activity android:name="com.example.l.EdukaTIC.d1ValQR" />
        <activity android:name="com.example.l.EdukaTIC.dia3" />
        <activity android:name="com.example.l.EdukaTIC.d3Menu" />
        <activity android:name="com.example.l.EdukaTIC.d3ValCC" />
        <activity android:name="com.example.l.EdukaTIC.d3Resultado" />
        <activity android:name="com.example.l.EdukaTIC.d3ValQR"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>