<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.l.EdukaTIC">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EdukaTIC 2019"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Menu" />
        <activity android:name=".consultar.validarUsuarios" />
        <activity android:name=".consultar.consultaCC" />
        <activity android:name=".consultar.ResutadoConsultaCC" />
        <activity android:name=".consultar.consultaQR" />
        <activity android:name=".consultar.ResultadoConsultaQR" />
        <activity android:name=".dia1.dia1" />
        <activity android:name=".dia1.d1ValCC" />
        <activity android:name=".dia1.d1Resultado" />
        <activity android:name=".dia1.d1ValQR" />
        <activity android:name=".dia3.dia3" />
        <activity android:name=".dia3.d3Menu" />
        <activity android:name=".dia3.d3ValCC" />
        <activity android:name=".dia3.d3Resultado" />
        <activity android:name=".dia3.d3ValQR" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".dia2.dia2" />
        <activity android:name=".dia2.d2Manana" />
        <activity android:name=".dia2.d2MananaValCC" />
        <activity android:name=".dia2.d2MananaResultado" />
        <activity android:name=".dia2.d2MananaValQR" />
        <activity android:name=".dia2.d2Tarde" />
        <activity android:name=".dia2.d2TardeMenu" />
        <activity android:name=".dia2.d2TardeValCC" />
        <activity android:name=".dia2.d2TardeResultado" />
        <activity android:name=".dia2.d2TardeValQR" />
        <activity android:name=".consultar.pantallaError" />
        <activity android:name=".peticiones.peticiones_menu" />
        <activity android:name=".peticiones.peticiones_datalle" />
        <activity android:name=".peticiones.peticiones_resultado" />
        <activity android:name=".peticiones.peticiones_consulta" />
        <activity android:name=".solicitud.solicitud" />
        <activity android:name=".solicitud.solicitud_resultado" />
        <activity android:name=".solicitud.consulta_solicitud"></activity>
    </application>

</manifest>